.aplayer
    width 90%
    margin 1.5em auto !important
    transition background 0.4s
    .aplayer-lrc
        &::before
        &::after
            background none !important

[data-theme="dark"] 
    .aplayer
        background rgba(0, 0, 0, 0.92)
    
    .aplayer.aplayer-withlist .aplayer-info
        border-bottom 1px solid #333

    .aplayer .aplayer-list ol li.aplayer-list-light
        background none

    .aplayer .aplayer-list-title
        color #666

    .aplayer .aplayer-list ol li
        border-top 1px solid #333
    
    .aplayer .aplayer-list ol li:hover
        background #ddd